body {
    background-color: pink;
}

.menu li{
    padding: 10px;
    font-weight: bolder;

    transition: all ease 0.5s;
}

.menu li:first-child {
    background-color: rgb(255, 226, 112);;
}

.menu li:last-child {
    background-color: rgb(255, 226, 112);
}

.menu li:nth-child(even) {
    background-color: lightgoldenrodyellow;
}

.menu li:hover{
    background-color: rgb(0, 0, 0);
    color: white;
    font-size: 20px;

    
}

h2 + p {
    color: navy;
}